@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb.ttf');
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'IRANSans';
    margin: 0;
}
a{
  text-decoration: none;
}
.home,
.tourism,
.products,
.sign-up {
  display: flex;
  height: 92vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-size: cover;
}

.tourism,.hotel {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  font-family: IRANSans;
  text-align: center;
  justify-content: center;
  color:#fff;
  font-size: 26px;
}
.tourism>p{
  color: #ffffff;
  font-size: 32px;
  margin-top: 8px;
 
}
.tourism-box{
  margin-top: 32px;
}
.hotel input{
  width: 300px;

}
.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  
}
.products h1{
  color: #fff;
  font-size: 24px;
  font-family: IRANSans;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
} */

.container-page{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #4186f7, #1562dd);
  display: flex;
  justify-content: center;
  align-items: center;
}